html,
body {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.dark {
  color: #DADADA;
  background: #1c2022;
  min-height: 100%;
}

.dark::before {
  content: "";
  background: #1c2022;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.listItem .ant-list-items {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.dark .listItem .ant-list-items .ant-list-item button:disabled {
  color: #fff;
}

.listItem .ant-list-items .ant-list-item {
  margin: 0 5px;
  border-bottom: 0;
}

.profile-card {
  margin: 15px 0;
}

.profile-card .ant-card {
  float: left;
  margin: 15px;
}

.profile-card .ant-card-cover {
  height: 200px;
  overflow: hidden;
}

.profile-card .ant-card-cover img {
  width: auto;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.profile-card .ant-spin-container li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.profile-card .ant-spin-container li svg {
  margin-right: 10px;
}

.sweet-loading {
  text-align: center;
  justify-content: center;
  display: flex;
}

.app-nav {
  margin: 20px 0;
}

.app-nav h2 {
  font-size: 16px;
  display: inline;
  margin: 10px;
}

.app-nav h2 a {
  color: #000;
}

.app-nav h2 a.active {
  color: #1890ff;
  text-decoration: underline;
}

.battle-title {
  text-align: center;
  background-color: #36855b;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
}

.battle-title h2 {
  color: #fff;
}

.showUsername {
  align-items: center;
  justify-content: flex-start;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  padding: 15px;
  margin: 20px 0;
  border-radius: 4px;
}

.showUsername .ant-avatar {
  margin-right: 15px;
}

.showUsername .ant-btn {
  width: 20px;
  height: 20px;
  font-size: 10px;
  float: right;
  display: block;
  margin-top: 8px;
}

.showUsername .userName {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}

.resultClassList svg {
  margin-right: 10px;
}

.resultClassList li {
  display: flex;
}

.dark .app-nav h2 a,
.dark .app-nav h2 {
  color: #fff;
}

.dark .app-nav h2 a.active {
  color: #1890ff;
}

.dark .ant-card {
  background: rgb(36, 40, 42);
  color: #fff;
}

.dark .ant-card .ant-list-item {
  color: #fff;
}